﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema administrativo escolar</h1>
    <p class="lead">Esta es una aplicacion de gestion de una escuela. Esta hecha en ASP.NET</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Aprender mas acerca de ASP.NET &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empezemos</h2>
        <p>
            Aplicacion de ASP.NET en la que usaremos MVC para agregar, editar y eliminar cursos ademas de alumnos
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>